* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(22, 20, 27);
  color: white;
  height: 100vh;
  box-sizing: border-box;
}

/* Cabeçalho */
.menu__cabecalho {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 1rem;

}

.logoBeviltech {
  width: 8rem;
  height: 8rem;
  margin-right: 10rem;
  border: 1px solid rgb(39, 7, 7);
  border-radius: 1rem;
}

.menu__navegacao {
  display: flex;
}

.menu__itens_navegacao {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.menu__itens_navegacao a {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.menu__itens_navegacao a:hover {
  color: greenyellow;
  border-bottom: 2px solid greenyellow;
}

/* Main - apresentação */

.secoes {
  display: flex;
  flex-direction: column;
  color: greenyellow;
  width: 100%;
}

.minha_apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 5rem;

}

.texto_apresentacao {
  font-size: 2rem;

}

.solucao {
  font-size: 3rem;
  color: tomato;
}

.imagemBeviltech {
  width: 20rem;
  height: auto;
  border: 1px solid rgb(61, 2, 2);
  border-radius: 1rem;
}

.nossaMissao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.missao {
  font-size: 2rem;
}

.figurasBusinesEApi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  gap: 5rem;
}

.figuraApi {
  width: 20rem;
  height: auto;
  border: 1px solid rgb(5, 245, 17);
  border-radius: 1rem;
}

.imageBussinesUp {
  width: 30rem;
  height: auto;
  border: 1px solid rgb(25, 240, 6);
  border-radius: 1rem;

}

/* Seção Sobre Mim */

.sobreMim {
  background-color: rgb(31, 58, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;

}

.texto_sobre_mim {
  font-size: 2.5rem;

}

.texto_sobre_mim1 {
  font-size: 1.5rem;
  padding: 2rem;

}

.textoTrajetoria {
  font-size: 1.5rem;
  padding: 3rem;
}

.meuNome {
  font-size: 1.8rem;
  color: rgb(7, 155, 241);
}

.imagensComputadoresTK3000 {

  display: flex;
  justify-content: center;
  width: 40rem;
  height: auto;
  gap: 30px;
  

}

.imagemTk3000PC1 {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(41, 26, 77);
  border-radius: 1rem;
}

.imagemTk3000PC2 {
  width: 400px;
  height: 300px;
  border: 1px solid rgb(41, 26, 77);
  border-radius: 1rem;
}


.textoTrajetoria {
  padding: 5rem;
}


/* Hobbies e Soft Skills */

.meusHobbies {
  display: flex;
  background-color: rgb(58, 15, 15);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 3rem;
}

.hobbies {
  font-size: 3rem;
  gap: 3rem;
}

.gamesAntigos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3rem;
  width: 20rem;
  height: auto;
  gap: 1rem;
}

.gifAnimadoStreetFighter {
  width: 25rem;
  height: auto;
  
}

.textoSobreGames {
  gap: 1rem;
}

.superNintendo, .fitaAtari, .masterSistem {
  padding: 1rem;
  width: 18rem;
  height: auto;
  border: 1px solid rgb(70, 16, 16);
  border-radius: 1rem;
  


}

.minhasBikes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3rem;
  width: 20rem;
  height: auto;
  gap: 1rem;
}

.textoSobreBikes {
  gap: 1rem;
}

.monareta, .barraCircular {
  display: flex;
  padding: 3rem;
  width: 40rem;
  height: 20rem;
  border: 1px solid rgb(70, 16, 16);
  border-radius: 1rem;
  
}

.secaoSoftSkills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tituloSoftSkills {
  padding: 3rem;
  font-size: 3rem;
}

.textoSoftSkills {
  text-align: center;
  font-size: 1.5rem;
}

/*  Formações + Cursos, Experiência em Programação */

.tituloFormacoes {
  padding: 3rem;
  font-size: 3rem;
}

.secaoCursos {
  display: flex;
  background-color: rgb(5, 34, 51);
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.iconesLinguagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: auto;
}

.iconesLinguagens img {
  width: 10rem;
  height: auto;
  margin: 1rem;

}

/* seção de certificados */

.tituloCertificados {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding: 3rem;
  font-size: 3rem;
}

.secaoMeusCertificados {
  display: flex;
  background-color: rgb(5, 34, 51);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 3rem;
}


.meusCertificados {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.meusCertificados img {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-items: center;
  border: 1px solid rgb(5, 250, 18);
  border-radius: 1rem;
}

.legendaCertificado {
  text-align: center;
  margin-top: 0.5rem;
}


/* essa parte cuida da visualização de certificados na tela ao clicar abre uma janela */

.janelaSpan {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.janelaSpan img {
  max-width: 90%;
  max-height: 90%;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


/* seção de experiência em programação */


.secaoExperiencia {
  display: flex;
  background-color: rgb(30, 61, 117);
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 3rem;
}

.tituloExperiencia {
  padding: 3rem;
  font-size: 3rem;

}

.secaoExperiencia img {
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 10rem;
  height: auto;
  margin: 1rem;
}

/* Projetos Realizados  */

.tituloSecaoProjetos {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding: 3rem;
  font-size: 3rem;
}

.projetosRealizados {
  background-color: rgb(5, 34, 51);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.meusProjetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  gap: 0.5rem;
  
}

.projeto img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  
  border-radius: 1rem;
}

.vercel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-top: 0.3rem;
  display: block;
  
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: block;
  
  
}


/* Separador entre Seções */
section {
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
}

p {
  margin-bottom: 2rem;
}

/* Formulário de Contato */

.tituloContato {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.secaoContato {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.menuItensContato {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.menuItensContato li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItensContato img {
  width: 5rem; 
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.github{
  width: 4rem !important;
  height: 4rem !important;
}

/* esse aqui serve para incluir um efeito ao passar o mouse em cima do icone */
.menuItensContato img:hover {
  transform: scale(1.1);
}

form {

  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-color: greenyellow;
}

button {
  padding: 10px 20px;
  background-color: greenyellow;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: lightskyblue;
}


/* botao topo */

.botaoTopoPagina {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.botaoTopoPagina::before {
  content: '';
  border: solid white;
  border-width: 5px 5px 0 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  margin-bottom: -7px;
  margin-left: -4px;

}

.botaoTopoPagina:hover {
  background-color: #0056b3;
}



/* Rodapé */

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: darkcyan;
  text-align: center;
  padding: 3%;
  font-size: 1rem;
  color: white;
  flex-direction: column;
}

.meuNomeCopyRigth {
  text-align: center;
  margin: 0;
}

/* tela de tablet*/

@media (max-width: 1024px) and (min-width: 768px) {


  .menu__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .menu__navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__itens_navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .logoBeviltech {
    display: flex;
    width: 10rem;
    height: auto;
  }

  .minha_apresentacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }


  .texto_apresentacao {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .solucao {
    font-size: 2rem;
  }

  .imagemBeviltech {
    width: 20rem;
    height: auto;
  }

  .figurasBusinesEApi {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }


  .imagensComputadoresTK3000 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .imagemTk3000PC1 {
    width: 45%;
    height: auto;

  }

  .imagemTk3000PC2 {
    width: 50%;
    height: auto;

  }

  .meusHobbies {
    display: flex;
    align-items: center;
    flex-direction: column;

  }


  .gamesAntigos {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .minhasBikes {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }

  .monareta {
    width: 100%;
    height: auto;
  }

  .barraCircular {
    width: 100%;
    height: auto;
  }

  .iconesLinguagens img {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .iconesLinguagensExperiencia {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;

  }

}

/* tela de celular */

@media (max-width: 767px) {

  .menu__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__itens_navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .logoBeviltech {
    width: 20%;
    height: auto;
  }

  .minha_apresentacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .texto_apresentacao {
    font-size: 1.2rem;
  }

  .solucao {
    font-size: 1.5rem;
  }

  .imagemBeviltech {
    width: 100%;
    height: auto;
  }

  .figurasBusinesEApi {
    display: flex;
    flex-direction: column-reverse;
  }

  .meusHobbies {
    flex-direction: column;
    width: 100%;
    height: auto
  }

  .imagensComputadoresTK3000 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .gamesAntigos {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .minhasBikes {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .monareta {
    width: 150%;
    height: auto;
  }

  .barraCircular {
    width: 150%;
    height: auto;
  }

  .iconesLinguagens {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .iconesLinguagensExperiencia {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;

  }

  .contato {
    font-size: 1.5rem;
  }

  form {
    font-size: 0.9rem;
  }
}