* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(22, 20, 27);
  color: white;
  height: 100vh;
  box-sizing: border-box;
}

/* Cabeçalho */
.menu__cabecalho {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 1rem;

}

.logoBeviltech {
  width: 8rem;
  height: 8rem;
  margin-right: 10rem;
}

.menu__navegacao {
  display: flex;
}

.menu__itens_navegacao {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.menu__itens_navegacao a {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.menu__itens_navegacao a:hover {
  color: greenyellow;
  border-bottom: 2px solid greenyellow;
}

/* Main - apresentação */

.secoes {
  display: flex;
  flex-direction: column;
  color: greenyellow;
  width: 100%;
}

.minha_apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 5rem;

}

.texto_apresentacao {
  font-size: 2rem;

}

.solucao {
  font-size: 3rem;
  color: tomato;
}

.imagemBeviltech {
  width: 20rem;
  height: auto;
}

.nossaMissao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.missao {
  font-size: 2rem;
}

.figurasBusinesEApi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  gap: 5rem;
}

.figuraApi {
  width: 20rem;
  height: auto;
}

.imageBussinesUp {
  width: 30rem;
  height: auto;

}

/* Seção Sobre Mim */

.sobreMim {
  background-color: rgb(31, 58, 85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;

}

.texto_sobre_mim {
  font-size: 2.5rem;

}

.texto_sobre_mim1 {
  font-size: 1.5rem;
  padding: 2rem;

}

.textoTrajetoria {
  font-size: 1.5rem;
  padding: 3rem;
}

.meuNome {
  font-size: 1.8rem;
  color: rgb(7, 155, 241);
}

.imagensComputadoresTK3000 {

  display: flex;
  justify-content: center;
  width: 40rem;
  height: auto;
  gap: 30px;

}

.imagemTk3000PC1 {
  width: 300px;
  height: 300px;
}

.imagemTk3000PC2 {
  width: 400px;
  height: 300px;
}


.textoTrajetoria {
  padding: 5rem;
}


/* Hobbies e Soft Skills */

.meusHobbies {
  display: flex;
  background-color: rgb(58, 15, 15);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 3rem;
}

.hobbies {
  font-size: 3rem;
  gap: 3rem;
}

.gamesAntigos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3rem;
  width: 20rem;
  height: auto;
}

.gifAnimadoStreetFighter {
  width: 25rem;
  height: auto;

}

.textoSobreGames {
  gap: 1rem;
}

.superNintendo, .fitaAtari, .masterSistem {
  padding: 1rem;
  width: 18rem;
  height: auto;


}

.minhasBikes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5rem;
  width: 100%;
  height: 20rem;
  gap: 1rem;

}

.textoSobreBikes {
  gap: 1rem;
}

.monareta, .barraCircular {
  display: flex;
  padding: 3rem;
  width: 40rem;
  height: 20rem;
}

.secaoSoftSkills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.softSkills {
  padding: 3rem;
  font-size: 3rem;
}

.textoSoftSkills {
  text-align: center;
  font-size: 1.5rem;
}

/*  Formações + Cursos, Experiência em Programação */

.secaoCursos {
  display: flex;
  background-color: rgb(5, 34, 51);
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.iconesLinguagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: auto;
}

.iconesLinguagens img {
  width: 10rem;
  height: auto;
  margin: 1rem;

}


.secaoExperiencia {
  display: flex;
  background-color: rgb(30, 61, 117);
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.secaoExperiencia img {
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 10rem;
  height: auto;
  margin: 1rem;
}


/* Separador entre Seções */
section {
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
}

p {
  margin-bottom: 2rem;
}

/* Formulário de Contato */
.menuItensContato {
  display: flex;
  list-style: none;
  padding: 0;
}

.menuItensContato li {
  margin: 0 10px;
}

.menuItensContato img {
  width: 30px;
  height: auto;
}

.contato {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
}

form {

  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
}

input, textarea {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border-color: greenyellow;
}

button {
  padding: 10px 20px;
  background-color: greenyellow;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: lightskyblue;
}

/* Rodapé */
.rodape {
  width: 100%;
  background-color: darkcyan;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: white;
}

/* tela de tablet*/

@media (max-width: 1024px) and (min-width: 768px) {


  .menu__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .menu__navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__itens_navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .logoBeviltech {
    display: flex;
    width: 10rem;
    height: auto;
  }

  .minha_apresentacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }


  .texto_apresentacao {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .solucao {
    font-size: 2rem;
  }

  .imagemBeviltech {
    width: 20rem;
    height: auto;
  }

  .figurasBusinesEApi {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }


  .imagensComputadoresTK3000 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .imagemTk3000PC1 {
    width: 45%;
    height: auto;

  }

  .imagemTk3000PC2 {
    width: 50%;
    height: auto;

  }

  .meusHobbies {
    display: flex;
    align-items: center;
    flex-direction: column;

  }


  .gamesAntigos {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .minhasBikes {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }

  .monareta {
    width: 100%;
    height: auto;
  }

  .barraCircular {
    width: 100%;
    height: auto;
  }

  .iconesLinguagens img {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .iconesLinguagensExperiencia {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;

  }

}

/* tela de celular */

@media (max-width: 767px) {

  .menu__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .menu__itens_navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

  }

  .logoBeviltech {
    width: 20%;
    height: auto;
  }

  .minha_apresentacao {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .texto_apresentacao {
    font-size: 1.2rem;
  }

  .solucao {
    font-size: 1.5rem;
  }

  .imagemBeviltech {
    width: 100%;
    height: auto;
  }

  .figurasBusinesEApi {
    display: flex;
    flex-direction: column-reverse;
  }

  .meusHobbies {
    flex-direction: column;
    width: 100%;
    height: auto
  }

  .imagensComputadoresTK3000 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .gamesAntigos {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .minhasBikes {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  .monareta {
    width: 100%;
    height: auto;
  }

  .barraCircular {
    width: 100%;
    height: auto;
  }

  .iconesLinguagens {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .iconesLinguagensExperiencia {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    flex-direction: column;

  }

  .contato {
    font-size: 1.5rem;
  }

  form {
    font-size: 0.9rem;
  }
}